@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

*{margin: 0; padding: 0; border:0;}

body{
	font-family: 'Raleway', sans-serif;
	background-color: #fffbcb;
	background-image: url("../imgs/Capturar_fundo3.jpg");
	background-image: url("../imgs/Capturar_fundo8.png");
	background-image: url("../imgs/Capturar_fundo8.jpg");
	/*background-image: url("../imgs/ssssssssssssssssssssssssssssssssss.jpg");*/
	
}

header{
	width: 100%;
	height: 7rem;	
	/*background-color: pink;*/
}

div#headMenu{
	width: 100%;
	height: 6rem;
	/*background-color: rgba(128,128,128,0.3);
	background-image: url("../imgs/fundo_cinza.png");*/
	/*background-color: #393e46;*/
	background-color: #474a56;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	box-shadow: 5px 2px 18px #474a56;
}

div#divLogo{
	width: 30%;
	/*background-color: red;*/
	float: left;
	margin-left: 5%;
}

div#divLogo img{
	/*width: 50%;
	height: auto;*/
	margin-bottom: 5%;
	margin-top: 5%;
	max-width: 100%;
}
/******MENUS******/

nav#navMenu{
	width: 35%;
	float: right;
	/*margin-right: 5%;*/
	/*background-color: green;*/
}

ul#ulMenu{
	margin-top: 7%;
	list-style: none;
}

#ulMenu li{
	display: inline-block;
	/*background-color: orange;*/
	margin-right: 7%;
}

#ulMenu li#user{
	margin-right: 0;
}

#ulMenu li#user a{
	padding: 8% 8%;
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 16px 0 rgba(0,0,0,0.15);
	/*background-color: #a7d129;*/
	transition-duration: 0.5s;
	border: 1px solid #a7d129;
}

#ulMenu li#user a:hover{
	background-color: #a7d129;
	color: white;
}

#ulMenu li a{
	text-decoration: none;
	color: #474a56;
	color: white;
	font-size: 1.1em;
	font-family: 'Muli', sans-serif;
}	

#ulMenu li a:hover{
	/*border-bottom: 1px solid #a7d129;*/
	color: #a7d129;
}
/*******FIM MENU******/

div#comoSist{
	/*background-color: orange;*/
	width: 45%;
	float: right;
	margin-top: 3%;
	margin-right: 5%;
	text-align: center;
	-webkit-animation-name: flutuando; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
	animation-name: flutuando;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

div#comoSist a{
	display: inline-block;
	width: 50%;
	background-color: #a7d129;
	text-decoration: none;
	color:  #474a56;
	font-size: 1.1em;
	font-family: 'Muli', sans-serif;
	padding: 2.5% 5%;
	transition-duration: 0.4s;
	box-shadow: 5px 5px 20px #929aab;
}

div#comoSist a:hover{
	/*border-bottom: 7px solid #808080;*/
	background-color: #bceb3c;
}

div#comoSist img{
	clear: both;
	width: 500px;
	height: auto;
	margin-bottom: 3%;
	/*background-color: red;*/
	max-width: 100%;
}

h1{
	width: 21%;
	/*width: 65%;
	margin-top: 5%;*/
	color: #393e46;
	font-size: 3.1em;
	padding-left: 4%;
	/*padding: 1% 0 1% 5%; 
	background-color: rgba(0,0,0,0.5);*/
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
	margin-top: 22%;
}

div#apresentacaoSite{
	width: 100%;
	height: 7rem;
	background-color: #929aab;
	color: #DCDCDC;
	color: white;
	margin-top: 10%;
	/*margin-bottom: 8%;*/
	display: flex;
  	align-items: center;
  	justify-content: center;
}

div#apresentacaoSite p{
	font-family: 'Raleway', sans-serif;
	padding-bottom: 2%;
	font-size: 1.5em;
}


/******Corpo******/
div#container{
	width: 100%;
	/*margin-left: 10%;*/
}

div#divContato, div#divSistema, div#divFeedInfo{
	width: 100%;
	height: 50rem;
}

div#divFeedInfo{
	background-color: #d3d5fd;
	box-shadow: 2px 1px 10px 10px #d3d5fd;
}

div#divSobre{
	width: 100%;
	height: auto;
	background-color: #bceb3c;
	box-shadow: 2px 1px 10px 10px #bceb3c;
	padding-top: 7%; 
	padding-bottom: 7%; 
}

div#divSobre h1{
	width: 18%;
	font-size: 2.7em;
	color: white;
	background-color: #474a56;
	margin-top: 0;
	padding-left: 5%; 
	padding-top: 0.5%;  
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 16px 0 rgba(0,0,0,0.15);
}

section#quemSomos{
	color: #474a56;
	width: 90%;
	height: auto;
	font-family: 'Raleway', sans-serif;
	font-size: 1.1em;
	line-height: 2em;
	/*background-color: red;*/
	margin-top: 4%; 
}

section#quemSomos p{
	font-family: 'Raleway', sans-serif;
	padding-left: 10%;
	padding-bottom: 2%;
	font-size: 1.3em;
}

div#divSistema{
	background-color: #555574;
	box-shadow: 2px 1px 10px 10px #555574;
}
div#divContato{
	/*background-color: #F8F8FF;
	box-shadow: 2px 1px 10px 10px #F8F8FF;*/
	background-color: #474a56;
	box-shadow: 2px 1px 10px 10px #474a56;
	padding-top: 7%;
	color: white;
}

div#divContato h1{
	width: 96%;
	margin-top: 0; 
	color: #F8F8FF;
	/*background-color: pink;*/
	text-align: center;
	font-size: 1.5em;
}

/*Fomulário Contato*/

#formContato{
	width: 50%;
	margin: 4% 25%;
	/*background-color: blue;*/
}
#formContato p{
	width: 90%;
	/*border: 1px solid green;*/
	padding-left: 10%;
	padding-bottom: 2%;
	font-size: 1.3em;
}

#formContato input{
	background-color: #474a56;
	border-bottom: 1px solid #FFA500;
	width: 90%;
	color:white;
	padding: 2% 1%;
}

textarea{
	resize: none; 
	font-family: 'Raleway', sans-serif;
	background-color: #474a56;
	border: 1px solid #FFA500;
	color:white;
	margin-top: 1%;  
	padding: 1%;
	font-size: 1.1em;
	width: 90%;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus{
   	background-color: #474a56;
   	color: #FF8C00;
   	outline:none;
}

input[type=text]:focus, input[type=email]:focus{ font-size: 1.2em;}

#formContato button{
	background-color: #FF8C00;
	padding: 2% 4%;
	width: 20%;
	color: white;
	font-size: 1.2em;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-left: 10%;
}

#formContato button:hover{ background-color: #FFA500}
#formContato button:focus{outline:none}

/*Fim Fomulário Contato*/


/******Rodapé******/
footer{
	width: 100%;
	height: 15rem;
	/*color: #474a56;
	background-color: #d3d5fd;*/
	color: white;
	/*background-color: #474a56;*/
	/*background-color: rgba(128,128,128,0.3);*/
	display: flex;
	background-color: #474a56;
	box-shadow: 2px 1px 10px 10px #393e46;
}

div#midiaSocial{
	width: 40%;
	background-color: rgba(128,128,128,0.2);
	/*background-color: red;*/
	padding-top: 5%;
	text-align: center;	
	/*margin-left: 3%;
	margin-right: 3%;*/
}

div#midiaSocial h3{ 
	margin-bottom: 5%;
	font-weight: normal;
}

div#divMenuRodape{
	width: 40%;
	background-color: rgba(128,128,128,0.2);
	/*background-color: green;*/
	text-align: center;
	padding-top: 5%;
}

ul#ulMenuRodape li, ul#ulTermosUso li{
	list-style-type: none;
	padding-bottom: 1%;
}

ul#ulMenuRodape li a, ul#ulTermosUso li a{
	text-decoration: none;
	color: white; 
}

ul#ulMenuRodape li a:hover{
	/*border-bottom: 1px solid #d3d5fd;*/
	color: #a7d129;
}

ul#ulTermosUso li a img{
	display: block;
	margin-left: auto;
    margin-right: auto;
    padding: 3%
}

ul#ulTermosUso li, ul#ulTermosUso li a{	display: block;}

div#termosUso{
	width: 40%;
	background-color: rgba(128,128,128,0.2);
	text-align: center;
	padding-top: 5%;
}

/***ANIMACAO***/

@keyframes flutuando{
    0%   {left:0px; top:0px;}
    50%  {bottom:50px; top:50px;} 
    100% {left:0px; top:0px;}
}
/***FIMANIMACAO***/