@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

*{margin: 0; padding: 0; border:0;}

header{
	width: 100%;
	height: 6rem;	
	/*background-image: url("../imgs/textura1.jpg");*/
	background-color: #474a56;
	/*background-color: pink;*/
}

div#headMenu{
	width: 100%;
	height: 6rem;
	background-color: rgba(128,128,128,0.3);
	/*background-color: #474a56;*/
	box-shadow: 5px 2px 18px #393e46;
}

div#divLogo{
	width: 30%;
	/*background-color: red;*/
	float: left;
	margin-left: 5%;
}

div#divLogo img{
	/*width: 50%;
	height: auto;*/
	margin-bottom: 5%;
	margin-top: 5%;
	max-width: 100%;
}
/******MENUS******/

nav#navMenu{
	width: 40%;
	float: right;
	/*margin-right: 5%;*/
	/*background-color: green;*/
}

ul#ulMenu{
	margin-top: 7%;
	list-style: none;
}

#ulMenu li{
	display: inline-block;
	/*background-color: orange;*/
	margin-right: 7%;
}

#ulMenu li#user{
	margin-right: 0;
}

#ulMenu li#user a{
	padding: 8% 8%;
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 16px 0 rgba(0,0,0,0.15);
	/*background-color: #a7d129;*/
	transition-duration: 0.5s;
	border: 1px solid #a7d129;
}

#ulMenu li#user a:hover{
	background-color: #a7d129;
	color: white;
}

#ulMenu li a{
	text-decoration: none;
	color: #474a56;
	color: white;
	font-size: 1.1em;
	font-family: 'Muli', sans-serif;
}	

#ulMenu li a:hover{
	/*border-bottom: 1px solid #a7d129;*/
	color: #a7d129;
}
/*******FIM MENU******/